body{
   
    width: 1024px;
 margin-left: 200px;
    background-size: auto;
    
}
#toprow{
    width: 1024px;
    margin-left: 5px;
    margin-right: 0;
    background-color: slategrey;
}

.topleft{
    margin-top: 10px;
    margin-left: 30px;
    color: black;
}




ul{
    list-style-type: none;
}
 main{
     width: 960px;
     margin-left: 40px;
    display: grid;
 }
.pic1{
    width: ;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

div.middlerow{
    width: 960px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between ;
}
div.rightbox{
 justify-self: self-end;
}
.bottomrow{
    display: flex;
    justify-content: space-between;
   
}
.ep{
/* 
    color: red; */
    width: 75%;
    display: flex;
    
    
}
.bottompic{
    
    justify-content: space-evenly;
    margin-bottom: 100px;
   
}
article{
    /* background-color:red; */
    width: 450px;
    height: 375px;
    overflow: scroll;
}
button{
    background-color: black;
    color: white;
    /* height: 25px; */

    
}

button:hover{
    transition: ease-in 5000ms ;
    background-color: red;
    transform: translateY(-1000px);
    transform: scale3d(10,10, 100);
}
.nav4{
display: inline-block;
margin-left: 145px ;
}

